<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name = "InnerWorkingsJobs" />

    <namespace name ="InnerWorkingsJobs.Jobs" />
    <namespace name ="InnerWorkingsJobs.Repositories" />
    <container>
      <register type="IJobsService" mapTo ="JobsService" />
      <register type="IInvoiceStrategy" mapTo ="InvoiceStrategy">
        <constructor>
          <param name="salesTax" value ="0.07"/>
          <param name="margin" value ="0.11"/>
          <param name="extraMargin" value ="0.05"/>
        </constructor>
      </register>
      <register type="IFileRepository" mapTo="FileRepository" />
      <register type="IJobsFileRepository" mapTo="JobsFileRepository" />
    </container>
  </unity>
</configuration>